SECRET_KEY=*
DEBUG=*

ALLOWED_HOSTS=*

DB_NAME=*
DB_USER=*
PASSWORD=*
HOST=*
PORT=*

TELEGRAM_BOT_TOKEN=*

CELERY_BROKER_URL=*
CELERY_RESULT_BACKEND=*

ACCESS_TOKEN_LIFETIME=*
REFRESH_TOKEN_LIFETIME=*

CORS_ALLOWED_ORIGINS=*
CSRF_TRUSTED_ORIGINS=*
